<h3>Demo4</h3>

<EditForm Model="MyFormObject" 
          OnSubmit="ValidationFormulaire" 
          class="form-group">
    <div>
        Id : <InputNumber @bind-Value="MyFormObject.Id" class="form-control" />
    </div>
    <div>
        Titre : <InputText @bind-Value="MyFormObject.Title" class="form-control" />
    </div>
    <div>
        Description : <InputTextArea @bind-Value="MyFormObject.Description" class="form-control" />
    </div>
    <div>
        Année de sortie : <InputNumber @bind-Value="MyFormObject.AnneeDeSortie" class="form-control" />
    </div>
    <button class="btn btn-outline-dark">Valider</button>
</EditForm>


@code {

}
